<!-- SYNTAX TEST "NgxHTML.sublime-syntax" -->

@if (loggedIn) {
  The user is logged in
} @else {
  The user is not logged in
}

@if (a > b) {
  {{ a }} is greater than {{ b }}
}

@if (a > b) {
  {{ a }} is greater than {{ b }}
} @else if (b > a) {
  {{ a }} is less than {{ b }}
} @else {
  {{ a }} is equal to {{ b }}
}

@switch (accessLevel) {
  @case ('admin') {
    <admin-dashboard />
  }
  @case ('moderator') {
    <moderator-dashboard />
  }
  @default {
    <user-dashboard />
  }
}

@for (user of users; track user.id) {
  {{ user.name }}
} @empty {
  Empty list of users
}

@defer {
  <comment-list />
}

@defer (on viewport) {
  <comment-list />
} @placeholder {
  <!-- A placeholder content to show until the comments load -->
  <img src="comments-placeholder.png" />
}

@defer (on viewport) {
  <comment-list />
} @loading {
  Loading…
} @error {
  Loading failed :(
} @placeholder {
  <img src="comments-placeholder.png" />
}

@defer (on viewport; prefetch on idle) {
  <comment-list />
}

@for (item of items; track item.id; let idx = $index, e = $even) {
  Item #{{ idx }}: {{ item.name }}
}

@for (item of items) {
  <a [href]="item.link">{{ item.title }}</a>
}

@for (item of items) {
  <a [href]="item.link">{{ item.title }}</a>
} @empty {
  <p>No Items</p>
}

@for (item of items; track item.name) {
  <li>{{ item.name }}</li>
} @empty {
  <li>There are no items.</li>
}

@if (users$ | async; as users) {
  {{ users.length }}
}

@for (item of items; track item.id) {
  {{ item.name }}
}

@switch (condition) {
  @case (caseA) {
    Case A.
  }
  @case (caseB) {
    Case B.
  }
  @default {
    Default case.
  }
}

@defer (on <trigger>; when <condition>; prefetch on <trigger>; prefetch when <condition>) {
  <!-- deferred template fragment -->
  <calendar-cmp />
} @placeholder (minimum? <duration>) {
  <!-- placeholder template fragment -->
  <p>Placeholder</p>
} @loading (minimum? <duration>; after? <duration>) {
  <!-- loading template fragment -->
  <img alt="loading image" src="loading.gif" />
} @error {
  <!-- error template fragment -->
  <p>An loading error occured</p>
}
